#accordion {
	min-width: 250px;
	.ico-collapse {
		float: right;
		display: inline-block;
		width: 14px;
		margin-top: 2px;
		height: 14px;
		background-image: url(../img/ico-arrow.png);
		background-position: top left;
		background-repeat: no-repeat;
	}
	.panel-heading {
		padding: 0;
		background-color: #f8f9f9;
		border-color:#e3e3e3;
		&:hover {
			background-color: #fff;
		}
	}
	.panel.open {
		.ico-collapse {
			background-position: 0px -14px;
			margin-top: 6px;
		}
		.panel-heading {
			background-color: #fff;
		}
	}
	.panel-title a {
		padding: 16px 15px;
		display: block;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		color:#717171;
		&:hover {
			text-decoration: none;
		}
	}

	.panel-default {
		border-color:#e3e3e3;
		margin-left: 0;
		margin-right: 0;
	}
	.panel-default > .panel-heading + .panel-collapse .panel-body {
		border-top-color:#e3e3e3;
	}
	.panel-body {
		padding: 18px;
	}
	hr {	
		margin-left: -18px;
		margin-right: -18px;
		border-color:#e3e3e3;
	}
	.btn-primary {
		background-color: #5951c1;
		border-color:#5951c1;
		font-weight: bold;
		color:#fff;
		&:hover {
			background-color: #423ba4;
			border-color: #3f389d;
		}
		&:focus {
			outline: none;
			outline: 0px auto -webkit-focus-ring-color;
			outline-offset: 0;
		}
		&.loading {
			background-image: -webkit-linear-gradient(bottom left, #5249c1 25%, #6f68cb 25%, #6f68cb 50%, #5249c1 50%, #5249c1 75%, #6f68cb 75%, #6f68cb) !important;
			background-image: -o-linear-gradient(bottom left, #5249c1 25%, #6f68cb 25%, #6f68cb 50%, #5249c1 50%, #5249c1 75%, #6f68cb 75%, #6f68cb) !important;
			background-image: linear-gradient(to top right, #5249c1 25%, #6f68cb 25%, #6f68cb 50%, #5249c1 50%, #5249c1 75%, #6f68cb 75%, #6f68cb) !important;
		}
	}
	.btn-success {
		background-color: #0c953f;
		border-color:#0c953f;
		font-weight: bold;
		white-space: normal;
		text-align: center;
		color:#fff;
		background-image: none;
		&:hover {
			background-color: #0D7C36;
			border-color:#0D7C36;
		}
		&:focus {
			outline: none;
			outline: 0px auto -webkit-focus-ring-color;
			outline-offset: 0;
		}
	}
	#vector {
		margin-top: 20px;
	}
	.radio, .checkbox {
		min-height: 12px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

#leftFilter select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
	width: 100%;
}
#leftFilter {
	#accordion {
		.form-group.checkbox-slim {
			margin-bottom: 5px;
		}
	}
	.form-control {
		padding: 4px 4px;
		font-size: 13px;
		height: 30px;
	}
}

@-webkit-keyframes stripes-animation {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes stripes-animation {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes stripes-animation {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes stripes-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes stripes-animation {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.loading {
  -webkit-animation: stripes-animation 2s linear infinite;
  -moz-animation: stripes-animation 2s linear infinite;
  -ms-animation: stripes-animation 2s linear infinite;
  -o-animation: stripes-animation 2s linear infinite;
  animation: stripes-animation 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent) !important;
  background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent) !important;
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent) !important;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent) !important;
  background-size: 40px 40px !important;
  opacity: 1 !important;
}