//colors
$color_green_haze_approx: #0ea646;
$color_lucky_point_approx: #211b70;
$color_mystic_approx: #e8e8f0;
$color_meteorite_approx: #302a7a;
$color_sea_buckthorn_approx: #f3a431;
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_st_tropaz_approx: #2a6496;
$color_quill_gray_approx: #d4d4d4;
$white_50: rgba(255, 255, 255, 0.5);
$color_alto_approx: #dddddd;
$color_mountain_mist_approx: #999999;

.navbar {
	min-height: 60px;
	margin-bottom: 0;
}
.nav.navbar-nav {
	padding-top: 5px;
	padding-left: 45px;
}
.navbar-form {
	margin-top: 13px;
}
.navbar-brand {
	padding: 0 0 0 15px;
	height: 60px;
	img {
		padding-top: 10px;
		padding-right: 20px;
		@media (min-width: 992px) {
			padding-right: 60px;
		}
	}
}
.navbar-nav > li > a {
	font-size: 13px;
	color:#999;
	&.hand {
		background-image: url(../img/star.png);
		background-repeat: no-repeat;
		background-position: 0 17px;
		padding-left: 21px;
	}
}
h2 {
	font-weight: 300; // 300
	font-size: 36px;
	color:#000;
	margin-top: 60px;
	margin-bottom: 30px;
}
h3 {
	margin-top: 38px;
	margin-bottom: 25px;
	a {
		text-decoration: none;
		font-weight: normal; // 300
		font-size: 24px;
		color:#211b70;
		&:hover {
			text-decoration: underline;
		}
	}
	&.darkBlueTitle {
		color:#211b70;
	}
}
.mb30 {
	h3 {
		font-size: 22px;
	}
}
.lead {
	color:#737373;
	max-width: 720px;
	font-weight: 300;
	font-size: 18px;
	margin: 0 auto 45px;
}
.jumbotron {
	background-image: url(../img/bgr.jpg);
	background-size: cover;
	padding-top: 200px;
	min-width: 760px;
	@media (max-width: 1280px) {
		padding-top: 100px;
	}
	h1 {
		font-size: 48px;
		font-weight: bold;
		color:#fff;
		position: relative;
		white-space: nowrap;
		@media (max-width: $screen-sm-max) {
			font-size: 42px;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 36px;
		}
		small {
			display: inline;
			img {
				position: relative;
				top: -48px;
				right: -22px;
			}
		}
	}
	p {
		color:#fff;
		font-size: 18px;
	}
	.counter {
		.btn-lg {
			font-size: 36px;
			font-weight: 600;
			padding: 11px 9px 10px;
			margin-right: 5px;
			margin-left: 5px;
			background-color: #fbfbfb;
			border-color:#fbfbfb;
			opacity: 1;
		}
	}
	.counter_descr {
		font-size: 19px;
	}
	.tab-content {
		background-color: #0da646;
		padding-bottom: 20px;
		padding-top: 20px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		margin-bottom: 95px;

		@media (max-width: 1280px) {
			margin-bottom: 50px;
		}
	}
	.nav-tabs {
		margin-top: 80px;
		border-bottom: none;
		& > li > a {
			font-weight: bold;
			font-size: 14px;
		}
		& > li:not(.active) > a:hover {
			background-color: rgba(13, 166, 70, 0.5);
			border-color: rgba(13, 166, 70, 0.1);
			border-bottom-color: rgb(13, 166, 70);

			-webkit-transition: background-color .2s linear;
			-moz-transition: background-color .2s linear;
			-o-transition: background-color .2s linear;
			-ms-transition: background-color .2s linear;
			transition: background-color .2s linear;
		}
	}
	.container {
		min-width: 730px;
	}
	.tab-pane .form-inline {
		padding: 0 20px;
		.row {
			height: 40px;
		}
	}
}
.container {
	&.borderbot {
		width: 100%;
		@media (min-width: 992px){
			.row {
				width: 980px;
				margin-left: auto;
				margin-right: auto;
				&.directory, &.inner {
					width: 1160px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.row.directory, .row.inner {
			width: 1160px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.drk {
		background-color: #f8f9f9;
		// padding-bottom: 40px;
		@media (min-width: 1025px) {
			.container {
				width: 1020px;
			}
		}
		p {
			color:#555555;
			font-weight: normal; // 300
			font-size: 16px;
			&.lead {
				color:#737373;
				font-size: 18px;
				font-weight: 300;
			}
			&.mdl {
				font-size: 15px;
			}
		}
	}
	p.itl {
		font-style: italic;
		font-size: 14px;
		font-weight: normal; // 300
	}
}
#mainSearch {
	max-width: 1120px;
  	@media (min-width: $screen-md) {
		.col-sm-5 {
			padding-right: 0;
		}
	}
	select {
		width: 100%;
		font-size: 14px;
	}
}
.container.map {
	background-image: url(../img/map.gif);
	background-size: 100%;
	height: 80px;

	width: 100%;
	.row {
		background-color: rgba(0, 0, 0, 0.6);
		height: 80px;
	}
	.btn {
		margin-top: 20px;
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:10px 26px;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
		-o-transition: background-color .2s linear;
		-ms-transition: background-color .2s linear;
		transition: background-color .2s linear;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-o-transition: color .2s linear;
		-ms-transition: color .2s linear;
		transition: color .2s linear;
		&:hover {
			background-color: #fff;
			color:#636057;
		}
	}
}
.btn-primary {
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}
.container.green {
	background-color: #0da646;
	height: 80px;
	width: 100%;
	.btn {
		margin-top: 20px;
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:10px 26px;
		-webkit-transition: background-color .2s linear;
		-moz-transition: background-color .2s linear;
		-o-transition: background-color .2s linear;
		-ms-transition: background-color .2s linear;
		transition: background-color .2s linear;
		-webkit-transition: color .2s linear;
		-moz-transition: color .2s linear;
		-o-transition: color .2s linear;
		-ms-transition: color .2s linear;
		transition: color .2s linear;
		&:hover {
			background-color: #ffffff;
			color:#0da646;
		}
	}
}

.specialists {
	margin-bottom: 25px;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	@media (min-width: $screen-md-min) and (max-width: 1139px) {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
	@media (min-width: 1140px) {
		-moz-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}
	.dl-horizontal {
		margin-bottom: 0;
		dd {
			padding-left: 19px;
			width: 170px;
		}
		dt {
			height: 22px;
		}
	}
	.label {
		margin: 0;
		background-color: #0da646;
	}
	strong {
		font-weight: normal; // 300
		font-size: 14px;
		color:#211b70;
	}
	li {
		padding-bottom: 13px;
		clear:both;
		a {
			display: block;
		}
	}
}

.ico_big {
	display: block;
	width: 140px;
	height: 140px;
	padding: 0;
	margin: 0 auto;
	background-image: url(../img/big_ico.png);
	background-repeat: no-repeat;
	border-radius: 50%;
	&.ico1 {
		background-position: left top;
		background-image: url(../img/doc_tsr_1.png);
	}
	&.ico2 {
		background-position: center top;
	}
	&.ico3 {
		background-position: right top;
	}
}

.smi_logo {
	span {
		display: block;
	}
	a {
		text-decoration: none;
		img {
			max-width: 100%;
		}
		span {
			text-decoration: underline;
		}
		&:hover span {
			text-decoration: none;
		}
	}
}

.clinic-request {
	width: 146px;
	margin: 0 auto;
	clear:both;
	.star-rating {
		float: left;
		display: inline-block;
		img {
			margin-right: 3px;
			width: 16px;
		}
	}
	.rating {
		line-height: 22px;
		font-size: 18px;
		font-weight: bold;
		float: right;
		text-align: center;
		padding: 0 0 10px 0;
		color: $color_green_haze_approx;
	}
}
.btn-gr {
	color:$color_green_haze_approx;
	border-color:$color_green_haze_approx;
	background-color: rgba(0,0,0,0);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 44px;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 29px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-o-transition: color .2s linear;
	-ms-transition: color .2s linear;
	transition: color .2s linear;
	&:hover {
		background-color:$color_green_haze_approx;
		color:#fff;
	}
}

.borderbot {
	border-bottom: 1px solid #eaeef3;
}
.bordertop {
	border-top: 1px solid #eaeef3;
}
.header, .footer {
	width: 1200px;
	min-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
	&>.row {
		margin-left: 0;
		margin-right: 0;
	}
}
#clinicSearchPage {
  .header {
    width: 100%;
    border-bottom: 1px solid #dedede;
  }
}
.footer {
	height: 60px;
	.copy {
		padding-left: 15px;
		width: 500px;
		float: left;
		p {
			white-space: nowrap;
			margin-bottom: 0;
			line-height: 60px;	
			color:#211b70;
			a {
					font-weight: bold;
					color:#211b70;
			}
		}
	}
	.links {
		float: right;
		width: 600px;
		padding-right: 20px;
	}
	.list-inline {
		margin-bottom: 0;
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			margin-right: -10px;
		}
		a {
			line-height: 60px;
			color:#737373;
		}
	}
}

.panel-default {
	margin-left: 0px;
	margin-right: 0px;
}
.smi_logo {
	margin-bottom: 45px;
	span {
		margin-top: 10px;
	}
}

.panel {
	border-radius: 6px;
	margin-bottom: 40px;
	.panel-body {
		position: relative;
	}
	.arrow {
		bottom: -12px;
		left: 50%;
		border-color: transparent;
		margin-left: -12px;
		border-top-color: #999;
		border-top-color: rgba(0,0,0,.15);
		border-width: 12px;
		border-bottom-width: 0;
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		&:after {
			bottom: 1px;
			margin-left: -11px;
			content: " ";
			border-top-color: #fff;
			border-width: 11px;
			border-left: transparent;
			border-right: transparent;
			border-bottom-width: 0;
			border-left-width: 11px;
			border-right-width: 11px;
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
}
.img-center {
	@media (max-width: 991px) {
		margin-top: 40px;
	}
	a {
		display: block;
		margin:0 auto;
		width: 120px;
	}
}
.carousel-inner {
	.blockquote {
		display: inline-block;
	}
}
.fixh {
	@media (min-width: $screen-md) {
		max-height: 187px;
		overflow: hidden;
		transition: max-height 0.15s ease-out;
	}
}

.all_inf {
	text-decoration: underline;
	color:#737373;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 20px;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}

	@media (max-width: $screen-sm-max) {
		display: none;
	}
}
.media-heading {
	color:#211b70;
	margin-top: 7px;
	a {
		color:#211b70;
		font-size: 18px;
	}
}
.media-object {
	border-radius: 5px;
}
.spec span {
	color:#42ac48;
	font-style: italic;
	font-weight: normal; // 300
	font-size: 14px;
}
.media {
	margin-bottom: 45px;
	& > .pull-left {
		margin-right: 25px;
	}
}
.blockquote {
	font-style: italic;
	font-weight: normal; // 300
	color:#000;
	font-size: 14px;
}
.author {
	font-weight: normal; // 300
	color:#000;
	font-size: 14px;
	color:#939393;
	margin-top: 15px;
	display: inline-block;
	strong {
		font-weight: normal; // 300
		color:#211b70;
	}
}
.navbar-nav > li > a {
	&:hover {
		text-decoration: underline;
	}
}
.mb30 {
	margin-bottom: 30px;
}
.arrow-left, .arrow-right {
	display: block;
	width: 8px;
	height: 14px;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 20px;
}
.arrow-right {
	background-position: left top;
	float: right;
}

// Contacts PAGE
#mymap {
	width: 100%;
	position: absolute;
	min-width: 760px;
}
.above_map, #mymap {
	min-height: 520px;
}
.contacts {
	border-radius: 5px;
	background-color: #fff;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	max-width: 340px;
	padding: 34px 40px;
	h1 {
		font-weight: 300;
		margin-top: 0;
		margin-top: -7px;
		margin-left: -4px;
		margin-bottom: -10px;
	}
	h2 {
		font-size: 18px;
		font-weight: normal;
		margin-top: 48px;
		margin-bottom: 15px;
		&.move_up {
			margin-top: 38px;
		}
	}
	p {
		font-size: 13px;
		font-weight: normal;//300;
		padding-left: 28px;
		margin-bottom: 15px;
		line-height: 1.6;
		position: relative;
		img {
			display: inline-block;
			position: absolute;
			left:1px;
			top:1px;
		}
	}
	&.rekv {
		min-width: 290px;
		margin-left: 0;
		padding-right: 15px;
		padding-left: 22px;
		padding-bottom: 15px;
		padding-top: 29px;
		p {
			margin-bottom: 8px;
		}
	}
	a.reqv {
		font-size: 18px;
		color:#211b70;
		text-decoration: none;
		display: inline-block;
		border-bottom: dashed 1px #211b70;
		line-height: 1.1;
		margin-top: 19px;
		&:hover {
			border-bottom-color: #ffffff;
			cursor:pointer;
		}
	}
	&.collapsing {
	    -webkit-transition: none;
	    transition: none;
	}
}

.bigGreenBtn {
	color: #fff;
	background-color: $color_green_haze_approx;
	text-transform: none;
	font-weight: bold;
	font-size: 15px;
	margin-top: 40px;
	padding: 15px 37px;
	padding-bottom: 14px;
	margin-left: 15px;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
	border:none;
	&:hover {
		background-color: #0a8036;
	}
}
// partners page
.center-img {
	min-height: 104px;
}
.drk-blue {
	background-color: #212830;
	padding-bottom: 63px;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	h2 {
		color:#fff;
		margin-bottom: 24px;
		font-weight: 300;
		margin-top: 60px;
	}
	.lead {
		color:#bdbfc0;
		margin-bottom: 59px;
	}
	.form-control {
		height: 40px;
		padding: 10px 12px;
	}
	.form-group {
		margin-bottom: 15px;
	}
	textarea.form-control {
		height: auto;
	}
	.btn.btn-success {
		color: #fff;
		background-color: $color_green_haze_approx;
		text-transform: normal;
		font-weight: bold;
		padding-bottom: 14px;
		-webkit-transition: background-color .2s linear;
		transition: background-color .2s linear;
		-webkit-transition: color .2s linear;
		transition: color .2s linear;
		border:none;
		font-size: 14px;
		margin-top: 45px;
		padding: 1px 32px;
		height: 40px;
		line-height: 40px;
		border-radius: 4px;
		-webkit-transition: background-color 0.2s linear;
		transition: background-color 0.2s linear;
		-webkit-transition: color .2s linear;
		transition: color 0.2s linear, background-color 0.2s linear;

		&:hover {
			background-color: #0a8036;
		}
	}
}
.jumbotron.partners {
	padding-top: 86px;
	background-image: url(../img/bgr_partn.jpg);
	.container {
		min-width: 720px;
	}
	h1 {
		font-size: 36px;
		text-transform: uppercase;
		@media screen and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	.lead {
		padding-top: 5px;
	}
	.btn.btn-success {
		@extend .bigGreenBtn;
	}
}
.mac {
	margin-bottom: -143px;
	margin-top: 55px;
	width: 100%;
	height: auto;
	max-width: 760px;
	max-height: 460px;
}
.gray {
	padding-top: 100px;
	background-color: #f8f9f9;
	border-bottom: 1px solid #eaeef3;
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.media-heading {
		font-size: 36px;
		font-weight: bold;
		color:#000;
		margin-top: -2px;
		margin-bottom: 0;
		@media screen and (max-width: 1023px) {
			font-size: 28px;
		}
	}
	.media-body {
		p {
			font-size: 14px;
			font-weight: normal;
			color:#646464;
			margin-top: 3px;
		}
	}
	.media>.pull-left {
		margin-right: 20px;
	}
	.media {
		margin-left: 40px;
		margin-bottom: 29px;	
		&.last {
			margin-left: 37px;
		}
	}
}
.plus {
	margin-top: 60px;
	margin-bottom: 25px;
}
.plus_lead {
	margin-bottom: 60px;
}
.mw980 {
	min-width: 980px;
}
.plus_example {
	margin-bottom: 92px;
	h3 {
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 22px;
		color: #211b70;
		//font-weight: 300;
	}
	p {
		line-height: 23px;
		font-size: 14px;
		// font-weight: 300;
		color:#555555;
	}
}



// about Page 
.jumbotron.about {
	background-image: url(../img/bgr_about.jpg);
	padding-top: 68px;
	overflow: hidden;
	.container {
		min-width: 980px;
		width: 980px;
	}
	h1 {
		white-space: normal;
		font-size: 36px;
		line-height: 48px;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 19px;
		text-transform: uppercase;
	}
	.lead {
		line-height: 1.7;
	}
	.col-md-offset-2 {
		margin-left: 0px;
	}
	.col-sm-3:not(.col-md-offset-2) {
		margin-left: 20px;
	}
	.col-sm-3 {
		border:2px solid #505152;
		margin-right: 20px;
		margin-top: 67px;
		min-width: 200px;
		max-width: 210px;
		@media (max-width: 981px) {
			min-width: 195px;
			max-width: 195px;
		}
		h3 {
			color: #fff;
			margin-top: 12px;
			font-size: 30px;
			font-weight: 300;
			margin-bottom: 0px;
			text-align: left;
			white-space: nowrap;
		}
		p {
			font-size: 14px;
			font-weight: 300;
			color:#a7a7a7;
			margin-bottom: 13px;
			text-align: left;
			white-space: nowrap;
		}
	}
	.icogreenTransp {
		display: block;
		width: 32px;
		height: 32px;
		background-image: url(../img/4ico.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		float: left;
		margin-top: 19px;
		margin-bottom: 15px;
		margin-left: 18px;
		margin-right: 23px;
		&.icoGr1 {
			background-position: 0 0;
		}
		&.icoGr2 {
			background-position: -32px 0;
			margin-left: 27px;
			margin-top: 22px;
		}
		&.icoGr3 {
			background-position: -64px 0;	
		}
		&.icoGr4 {
			margin-left: 5px;
			background-position: -96px 0;
		}
	}
	.btn.btn-success {
		@extend .bigGreenBtn;
		margin-top: 75px;
	}
}
.about_reviews {
	padding-left: 100px;
	margin-bottom: 20px;
	.media-heading {
		margin-top: 35px;
		strong {
			display: block;
		}
	}
	.about_carousel .blockquote {
		font-size: 13px;
	}
}
.about_carousel .blockquote {
	font-size: 13px;
}
.review_city {
	font-size: 14px;
	color:#939393;
}
.book_ico {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../img/4ico_v.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-top: 1px;
	&.icoN1 {
		background-position: 0 -16px;
	}
	&.icoN2 {
		background-position: 0 -32px;
	}
	&.icoN3 {
		background-position: 0 -48px;	
	}
	&.icoN4 {
		background-position: 0 -64px;
	}
}
.media-link {
	text-decoration: underline;
	font-size: 13px;
	&:hover {
		text-decoration: none;
	}
}
.media_about_list {
	max-height: 200px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s ease-out;
	transition: max-height 0.5s ease-out;
	ul {
		padding-left: 0;
	}
	.media {
		margin: 0;
		padding-right: 5px;
	}
	p {
		font-size: 13px;
	}
}
.whiteGrayBtn {
	font-size: 14px;
	font-weight: bold;
	color:rgba(85, 85, 85, 0.5);
	padding: 9px 16px 10px;
	border-radius: 4px;
	-webkit-transition: background-color .4s linear;
	transition: background-color .4s linear;
	-webkit-transition: color .4s linear;
	transition: color .4s linear;
	&:hover {
		color:#fff;
		background-color: #aaaaaa;
		border-color:#aaaaaa;
	}
}
.more_public {
	margin-top: 41px;
	margin-bottom: 30px;
	.btn {
		@extend .whiteGrayBtn;
	}
}
.about_carousel {
	margin-bottom: 20px;
}
.why_we {
	margin-left: -40px;
	margin-right: -40px;
	.media-left {
		padding-right: 36px;
	}
	.media-heading {
		margin-top: 4px;
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 22px;
		color: #211b70;	
	}
	.media-body {
		p {
			font-size: 14px;
			color:rgba(85,85,85,80);
			line-height: 22px;
		}
	}
	.bigGrIco {
		display: block;
		height: 32px;
		width: 32px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: url(../img/green_ico.gif);
		&.bgi1 {
			background-position: 0 -150px;
		}
		&.bgi2 {
			background-position: 0 -21px;
		}
		&.bgi3 {
			background-position: 0 -85px;
		}
		&.bgi4 {
			background-position: 0 -52px;
		}
		&.bgi5 {
			background-position: 0 7px;
			height: 28px;
		}
		&.bgi6 {
			background-position: 0px -116px;
		}
	}
}
.directory {
	&.row {
		margin-left: -25px;
		margin-right: -25px;
	}
	h1 {
		margin-top: 47px;
		margin-bottom: 0;
		font-weight: 300;
		margin-left: -2px;
	}
	h2 {
		color:#211b70;
		font-size: 24px;
		margin-bottom: 22px;
		margin-top: 31px;
		font-weight: 500;
	}
	p {
		margin-bottom: 13px;
		a {
			text-decoration: underline;
			color:#211b70;
			font-size: 14px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.all_inf_link {
		@extend .all_inf;
		display: block;
		margin-top: 23px;
		margin-bottom: 42px;
	}
	.col-xs-3 {
		width: 285px;
	}
}
.inner {
	width: 1180px;
	padding-top: 20px;
	padding-bottom: 20px;
	.col-xs-3.left-sidebar {
		padding-left:15px;
		padding-right:15px;
		width: 280px;
	}
	.col-xs-9.main-side {
		padding-right: 0;
		padding-left: 15px;
		width: 895px;
	}
	.btn-group-vertical {
		width: 100%;
		.btn {
			text-align: left;
			font-style: 13px;
			font-weight: bold;
			text-transform: uppercase;
			color:#747474;
			padding: 10px 19px 0px 20px;
			border-color:#eaeef3;
			span {
				display: inline-block;
				width: 100%;
				border-bottom:1px solid #eaeef3;
				padding-bottom: 11px;
			}
			&.active, &:hover {
				background-color: #0da646;
				border-bottom-color: #0da646;
				box-shadow:none;
				span {
					border-bottom-color: #0da646;
					color:#fff;
				}
			}
		}
		&>.btn:not(:first-child) {
			border-top: none;
		}
		&>.btn:last-child span {
			border-bottom-color: transparent;
		}
	}
	h1 {
		margin-top: 0;
		font-weight: 300;
		margin-left: -3px;
		padding-top: 0;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 24px;
		margin-top: 38px;
		margin-bottom: 25px;
		font-weight: 500;
		&.best_doc {
			font-weight: 300;
			font-size: 36px;
		}
	}
	.breadcrumb {
		background-color: #fff;
		padding-left: 0;
		padding-top: 5px;
		margin-bottom: 5px;
		li, a {
			color:#c0c0c0;
			font-size: 12px;
			font-weight: 300;
			line-height: 1;
		}
		li.active {
			color:#c0c0c0;
		}
		a {
			text-decoration: none;
			padding-bottom: 0px;
			border-bottom: 1px solid #c0c0c0;
			&:hover {
				border-bottom: 1px solid #fff;
			}
		}
		&>li+li:before {
			content:' ';
			color:#c0c0c0;
			padding-right: 7px;
			padding-left: 6px;
			background-image: url(../img/breadarrow.gif);
			background-position: 0 0;
			background-repeat: no-repeat;
			width: 8px;
			display: inline-block;
			border-bottom: none;
			text-decoration: none;
			height: 7px;
		}
	}
	.text {
		p {
			color:#555;
			font-size: 13px;
			padding-bottom: 8px;
			&.note {
				margin-top: 30px;
				margin-bottom: 20px;
				em {
					font-weight: 300;
					font-style: italic;
					color:#a6a6a6;
				}
			}
		}
		li {
			color:#555;
			font-size: 13px;
		}
		.best_doc {
			margin-top: 40px;
		}
		.nav-tabs {
			border-bottom: 1px solid #eee;
			&>li {
				&>a {
					color:#211b70;
					background-color: #fff;
					border-bottom:1px solid #eee;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					font-size: 14px;
					padding-left: 33px;
					padding-right: 33px;
					padding-top: 13px;
				}
				&.active a, &:hover  a {
					color:#010101;
					border-color:#eee;
					border-bottom:1px solid #fff;
				}
			}
		}
		.tabs {
			margin-top: 38px;
			margin-left: -3px;
			h3 {
				font-size: 22px;
			}
		}
	}
	hr {
	}
	.show_more {
		@extend .whiteGrayBtn;
		border-color:#eee;
	}
}
.container.borderbot.main_inner {
	width: 1180px;
	min-width: 1180px;
}
#doctorSort {
	margin: 0 0 14px 0;
	padding: 0 0 14px 0;
	border-bottom: 1px solid #e3e3e3;
	.result {
		font-size: 22px;
		margin-top: -2px;
		color: #302a7a;
		padding-left: 0;
		.green {
			color: $color_green_haze_approx;
			font-weight: 700;
		}
	}
	.sort-num {
		padding-right: 0;
		float:right;
		text-align: right;
	}
	.sort-type, .sort-num {
		label {
			vertical-align: middle;
			font-size: 13px;
			font-weight: normal;
			margin-bottom: 0px;
		}
		.form-control {
			margin-left: 5px;
			display: inline-block;
			font-size: 13px;
			width: auto;
			height: 30px;
			padding: 4px;
		}
	}
}
.seo {
	h1 {
		color:#555;
		font-size: 20px;
	}
}
.showDoctorsOnMap {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	display: block;
	position: relative;
	color: #302a7a !important;
	text-align: center;
	margin-bottom: 10px;
	&:after {	
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
		background: center no-repeat;
		opacity: 0.5;
	}
	&.spb:after {
		background-image: url('../img/map_spb.png');
	}
	&:hover:after {
		opacity: 1;
	}
}

.panel-heading {
	h2 {
		margin: 0;
		padding: 0;
	}
}

.header .city-changer {
  position: absolute;
  top: 20px;
  right: 0;
  width: 150px;
  ul {
    display: none;
    background: white;
    border-radius: 8px;
    list-style: none;
    border: 1px solid #e3e3e3;
    padding: 5px 15px;
    top: -40px;
    left: -15px;
    position: relative;
    z-index: 100;
    li {
      background: white;
      line-height: 2.5em;
      &.selected {
        border-bottom: 1px solid #e3e3e3;
      }
      a {
        display: block;
      }
    }
  }
  > a {
    color: gray;
    border-bottom: 1px dashed #e3e3e3;
    text-decoration: none;
    display: inline;
    &:hover {
      border-bottom: 1px solid #e3e3e3;
      text-decoration: none;
    }
  }
}

.doctor_2_0 {
  padding: 20px 0;
  border-top: 1px solid $color_alto_approx;
  position: relative;
  &:first-child {
    border-top: 1px solid transparent;
  }
  .doc-status {
    width: 125px;
    margin-right: 20px;
    float: right;
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 20px;
    .rating {
      line-height: 22px;
      font-size: 18px;
      font-weight: bold;
      @includeborder-radius(60);
      float: right;
      text-align: center;
      padding: 0 0 10px 0;
      color: $color_green_haze_approx;
    }
    .star-rating img {
      margin-right: 3px;
      width: 16px;
    }
  }
  .price-label {
    color: $color_lucky_point_approx;
    position: absolute;
    bottom: 0;
    height: 34px;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    b {
      padding: 0 0 0 10px;
    }
    strong {
      padding: 0 0 0 10px;
    }
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      background: $color_lucky_point_approx;
      opacity: 0.1;
      content: ' ';
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border-radius: 6px 0 0 6px;
    }
    &:after {
      right: -18px;
      top: 0;
      display: block;
      height: 34px;
      width: 18px;
      position: absolute;
      z-index: 0;
      background: url('../img/label_corner.png') left no-repeat;
      content: ' ';
    }
    small {
      font-size: 10px;
      line-height: 14px;
      display: inherit;
      padding: 3px 0 3px 10px;
    }
  }
  .doc-info {
    margin-right: 145px;
    .doc-avatar {
      width: 76px;
      height: 155px;
      border: 1px solid $color_mystic_approx;
      float: left;
      .experience {
        width: 60px;
        margin: 5px auto 0;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: $color_meteorite_approx;
      }
    }
    .doc-description {
      margin-left: 90px;
      .name {
        padding-top: 0;
        a {
          color: $color_meteorite_approx;
        }
        h4 {
          display: inline;
          font-size: 18px;
          &.family {
            font-weight: bold;
          }
        }
      }
      .speciality {
        font-size: 13px;
        color: $color_green_haze_approx;
        font-style: italic;
        h3 {
          display: inline;
          font-size: 13px;
          a {
            color: $color_green_haze_approx;
          	font-size: 13px;
          }
        }
      }
      .pac-age {
        color: $color_sea_buckthorn_approx;
        font-size: 13px;
        font-style: italic;
        padding-top: 7px;
        > span {
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          &.both {
            background: url('../img/both.png');
          }
          &.child {
            background: url('../img/child.png');
          }
          &.adult {
            background: url('../img/adult.png');
          }
        }
      }
    }
    .address {
      padding-top: 16px;
      .metro {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
    .contacts__ {
      padding-top: 20px;
      .tel {
        margin-right: 10px;
        border: 1px solid $color_meteorite_approx;
        border-radius: 4px;
        color: $color_meteorite_approx;
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        padding: 6px;
        width: 152px;
        text-align: center;
        &:empty {
          display: none;
        }
      }
      .btn {
        margin: 0;
        margin-right: 10px;
        vertical-align: baseline;
      }
    }
  }
  &.compact {
    border-top: 1px solid transparent;
    border-bottom: 1px solid $color_alto_approx;
    &:last-child {
      margin-bottom: 20px;
    }
    &:first-child {
      padding-top: 0;
    }
    .doc-info {
      margin: 0;
      min-height: initial;
    }
    .price-label {
      float: right;
      position: relative;
      margin-right: 30px;
    }
    .address {
      padding-top: 0;
      .metro {
        display: inline-block;
        margin: 0;
        padding: 0 0 5px;
      }
    }
    small {
      display: inline-block;
    }
  }
  &.docVip {
    padding: 20px 15px;
    border: 1px solid $color_green_haze_approx;
    &:after {
      z-index: 1;
    }
  }
}
.metro span {
  background: left top no-repeat;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0 0 2px 20px;
  &.line {
    background-image: url('../img/metro.png');
  }
  &.line1 {
    background-image: url('../img/metro_red.png');
  }
  &.line2 {
    background-image: url('../img/metro_blue.png');
  }
  &.line3 {
    background-image: url('../img/metro_green.png');
  }
  &.line4 {
    background-image: url('../img/metro_yellow.png');
  }
  &.line5 {
    background-image: url('../img/metro_lilac.png');
  }
  &.linemsk1 {
    background-image: url('../img/metro_msk1.png');
  }
  &.linemsk2 {
    background-image: url('../img/metro_msk2.png');
  }
  &.linemsk3 {
    background-image: url('../img/metro_msk3.png');
  }
  &.linemsk4 {
    background-image: url('../img/metro_msk4.png');
  }
  &.linemsk5 {
    background-image: url('../img/metro_msk5.png');
  }
  &.linemsk6 {
    background-image: url('../img/metro_msk6.png');
  }
  &.linemsk7 {
    background-image: url('../img/metro_msk7.png');
  }
  &.linemsk8 {
    background-image: url('../img/metro_msk8.png');
  }
  &.linemsk9 {
    background-image: url('../img/metro_msk9.png');
  }
  &.linemsk10 {
    background-image: url('../img/metro_msk10.png');
  }
  &.linemsk11 {
    background-image: url('../img/metro_msk11.png');
  }
  &.linemsk12 {
    background-image: url('../img/metro_msk12.png');
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > {
    li {
      display: inline;
      > {
        a {
          position: relative;
          float: left;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-decoration: none;
          background-color: $white;
          border: 1px solid $color_alto_approx;
          margin-left: -1px;
          color:$color_green_haze_approx;
          &:hover {
            background-color: $color_alto_approx;
          }
          &:focus {
            background-color: $color_alto_approx;
          }
        }
        span {
          position: relative;
          float: left;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-decoration: none;
          background-color: $white;
          border: 1px solid $color_alto_approx;
          margin-left: -1px;
          &:hover {
            background-color: $color_alto_approx;
          }
          &:focus {
            background-color: $color_alto_approx;
          }
        }
      }
      &:first-child > {
        a, span {
          margin-left: 0;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }
      }
      &:last-child > {
        a {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
        span {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
    .active > {
      a, span {
        z-index: 2;
        color: $white;
        background-color: $color_st_tropaz_approx;
        border-color: $color_st_tropaz_approx;
        cursor: default;
        &:hover {          
          z-index: 2;
          color: $white;
          background-color: $color_st_tropaz_approx;
          border-color: $color_st_tropaz_approx;
          cursor: default;
        }
        &:focus {          
          z-index: 2;
          color: $white;
          background-color: $color_st_tropaz_approx;
          border-color: $color_st_tropaz_approx;
          cursor: default;
        }
      }
    }
    .disabled > {
      a, span {
        color: $color_mountain_mist_approx;
        background-color: $white;
        border-color: $color_alto_approx;
        cursor: not-allowed;
        &:hover {
          color: $color_mountain_mist_approx;
          background-color: $white;
          border-color: $color_alto_approx;
          cursor: not-allowed;
        }
        &:focus {
          color: $color_mountain_mist_approx;
          background-color: $white;
          border-color: $color_alto_approx;
          cursor: not-allowed;
        }
      }
    }
  }
}

#linksSpec {
  margin-top: 60px;
  ul {
	padding: 0;
	margin: 0;
	list-style: none !important;
    padding: 28px 0 14px;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
    h3 {
      margin: 0;
      display: inline;
    }
  }
  li {
	padding: 0;
	margin: 0;
	list-style: none !important;
    line-height: 2.2em;
    padding-left: 3.3em;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    strong {
      font-weight: normal;
      font-size: 16px;
      color: $color_meteorite_approx;
    }
  }
  &.doctors-list {
    margin-top: 0;
    ul {
      padding: 0 0 14px 0;
      li {
        padding-left: 0;
        strong {
          font-size: 14px;
        }
      }
    }
  }
}
.specialty h3 {
	font: inherit !important;
	display: inline !important;
	margin: 0 !important;
}
.btn-rew {
	font-weight: normal;
	position: relative;
	top: -1px;
	border-color: #423aa8;
	background-color: transparent;
	color: #423aa8;
	font-weight: bold;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: color .2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
  &:hover {
    border-color: #423aa8;
    color: white;
    background: #423aa8;
  }
}
.rev-text.merits {
  background: url('../img/thumb-up.png') left top no-repeat;
}
.doctorReview {
  color: #2a6496;
  text-decoration: none;
  border-bottom: 1px dotted #2a6496;
  font-size: 13px;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.docVip {
  border: 1px solid #0ea646;
  margin: -1px -15px 5px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/thumb-up-invert.png') center no-repeat #0ea646;
    z-index: -1;
    border-radius: 0 0 6px;
  }
}
.ratingStar {
  background-image: url('../img/rating.png');
  background-repeat: no-repeat;
  background-size: 80px 175px;
  height: 16px;
  width: 80px;
  vertical-align: middle;
  display: inline-block;
  &.rating-5_0 {
    background-position: 0 0;
  }
  &.rating-5 {
    background-position: 0 0;
  }
  &.rating-4_5 {
    background-position: 0 -16px;
  }
  &.rating-4_0 {
    background-position: 0 -32px;
  }
  &.rating-4 {
    background-position: 0 -32px;
  }
  &.rating-3_5 {
    background-position: 0 -48px;
  }
  &.rating-3_0 {
    background-position: 0 -64px;
  }
  &.rating-3 {
    background-position: 0 -64px;
  }
  &.rating-2_5 {
    background-position: 0 -80px;
  }
  &.rating-2_0 {
    background-position: 0 -96px;
  }
  &.rating-2 {
    background-position: 0 -96px;
  }
  &.rating-1_5 {
    background-position: 0 -112px;
  }
  &.rating-1 {
    background-position: 0 -128px;
  }
  &.rating-1_0 {
    background-position: 0 -128px;
  }
  &.rating-0_5 {
    background-position: 0 -144px;
  }
  &.rating-0 {
    background-position: 0 -160px;
  }
  &.rating-0_0 {
    background-position: 0 -160px;
  }
  &.rating-_0 {
    background-position: 0 -160px;
  }
}
.ratingInput {
  li {
    list-style: none;
  }
  .hide {
    display: none;
  }
  input[type="radio"] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin-top: 0;
    &:checked + span {
      background-position: -32px 0;
      ~ span {
        background-position: 0 -160px;
      }
    }
  }
  span {
    font-size: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 4px;
    padding: 0 16px 1px 0;
    background: url('../img/rating.png') no-repeat -32px 0;
  }
}
.services-list td:last-child {
  width: 150px;
}
.bestDoctors,
.similarClinics,
.bestClinics {
  margin: 30px 0;
  min-height: 166px;
  border-radius: 8px;
  padding: 10px 10px 21px;
}