
.jumbotron {
	background-image: url(../img/bgr.jpg);
	background-size: cover;
	padding-top: 200px;
	h1 {
		font-size: 48px;
		font-weight: bold;
		color:#fff;
	}
	p {
		color:#fff;
		font-size: 18px;
	}
	.counter {
		.btn-lg {
			font-size: 36px;
			font-weight: 600;
			padding: 6px 9px;
		}
	}
}

.container-fluid.map {
	background-image: url(../img/map.gif);
	background-size: 100%;
	height: 80px;
	.row {
		background-color: #000;
		opacity: .6;
		height: 80px;
	}
	.btn {
		margin-top: 20px;
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:10px 26px;
	}
}



.specialists {
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
	.dl-horizontal {
		margin-bottom: 0;
		dd {
			padding-left: 19px;
			width: 140px;
		}
		dt {
			height: 22px;
		}
	}
	.label {
		margin: 0;
		background-color: #0da646;
	}
	strong {
		font-weight: 300;
		font-size: 14px;
		color:#211b70;
	}
	li {
		padding-bottom: 13px;
		clear:both;
		a {
			display: block;
		}
	}
}