.navbar {
	min-height: 60px;
	margin-bottom: 0;
}
.nav.navbar-nav {
	padding-top: 5px;
}
.navbar-form {
	margin-top: 13px;
}
.navbar-brand {
	padding: 0;
	height: 60px;
	img {
		padding-top: 10px;
		padding-right: 60px;
	}
}
.navbar-nav > li > a.hand {
	background-image: url(../img/hand.gif);
	background-repeat: no-repeat;
	background-position: 15px 18px;
	padding-left: 51px;
}
h2 {
	font-weight: 300;
	font-size: 36px;
	color:#000;
	margin-top: 90px;
	margin-bottom: 30px;
}
h3 {
	font-weight: 300;
	font-size: 24px;
	color:#211b70;
	margin-top: 38px;
	margin-bottom: 25px;
}
.lead {
	color:#737373;
	max-width: 720px;
	font-weight: 300;
	font-size: 18px;
	margin: 0 auto 45px;
}
.jumbotron {
	background-image: url(../img/bgr.jpg);
	background-size: cover;
	padding-top: 200px;
	h1 {
		font-size: 48px;
		font-weight: bold;
		color:#fff;
	}
	p {
		color:#fff;
		font-size: 18px;
	}
	.counter {
		.btn-lg {
			font-size: 36px;
			font-weight: 600;
			padding: 11px 9px 10px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
	.counter_descr {
		font-size: 19px;
	}
	.tab-content {
		background-color: #0da646;
		padding-bottom: 20px;
		padding-top: 20px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		margin-bottom: 95px;
	}
	.nav-tabs {
		border-bottom: none;
		margin-top: 80px;
		& > li > a {
			font-weight: bold;
			font-size: 14px;
		}
	}
}
.container-fluid {
	&.drk {
		background-color: #f8f9f9;
		padding-bottom: 40px;
		border-bottom: 1px solid #eaeef3;
		@media (min-width: 1025px) {
			.container {
				width: 1020px;
			}
		}
		p {
			color:#555555;
			font-weight: 300;
			font-size: 16px;
			&.lead {
				color:#737373;
				font-size: 18px;
			}
			&.mdl {
				font-size: 15px;
			}
		}
	}
	p.itl {
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
	}
}
#mainSearch {
	max-width: 1120px;
  	@media (min-width: $screen-md) {
		.col-sm-5 {
			padding-right: 0;
		}
	}
	select {
		width: 100%;
		font-size: 14px;
	}
}
.container-fluid.map {
	background-image: url(../img/map.gif);
	background-size: 100%;
	height: 80px;
	.row {
		background-color: #000;
		opacity: .6;
		height: 80px;
	}
	.btn {
		margin-top: 20px;
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:10px 26px;
	}
}
.container-fluid.green {
	background-color: #0da646;
	height: 80px;
	.btn {
		margin-top: 20px;
		color: #fff;
		background-color: transparent;
		border-color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		padding:10px 26px;
	}
}

.specialists {
	margin-bottom: 25px;
	@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
	@media (min-width: $screen-md-min) and (max-width: 1139px) {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
	@media (min-width: 1140px) {
		-moz-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}
	.dl-horizontal {
		margin-bottom: 0;
		dd {
			padding-left: 19px;
			width: 140px;
		}
		dt {
			height: 22px;
		}
	}
	.label {
		margin: 0;
		background-color: #0da646;
	}
	strong {
		font-weight: 300;
		font-size: 14px;
		color:#211b70;
	}
	li {
		padding-bottom: 13px;
		clear:both;
		a {
			display: block;
		}
	}
}

.ico_big {
	display: block;
	width: 140px;
	height: 140px;
	padding: 0;
	margin: 0 auto;
	background-image: url(../img/big_ico.png);
	background-repeat: no-repeat;
	&.ico1 {
		background-position: left top;
	}
	&.ico2 {
		background-position: center top;
	}
	&.ico3 {
		background-position: right top;
	}
}

.smi_logo {
	span {
		display: block;
	}
	a {
		text-decoration: underline;
		color:#72709b;
		&:hover {
			text-decoration: none;
		}
	}
}

footer {
	height: 60px;
	.copy {
		p {
			margin-bottom: 0;
			line-height: 60px;	
			color:#211b70;
			a {
					font-weight: bold;
					color:#211b70;
			}
		}
	}
	.list-inline {
		margin-bottom: 0;
		a {
			line-height: 60px;
			color:#737373;
		}
	}
}

.all_inf {
	text-decoration: underline;
	color:#bcbdbd;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	&:hover {
		text-decoration: none;
	}
}