doctype html
html
  head
    == Slim::Template.new("head.slim").render
  body
    == Slim::Template.new("navbar.slim").render
    .container-fluid.borderbot.bordertop
      .container.main_inner
        .row.inner
          .col-xs-3.left-sidebar
            == Slim::Template.new("left_menu.slim").render
          .col-xs-9.text.main-side
            ol.breadcrumb
              li
                a href="#"  Главная
              li
                a href="#"  Словарь
              li
                a href="#"  Аллергология
              li.active Акушерство
            h1.text-left Акушерство
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            p Акушерство – это сфера медицины, которая изучает изменения в организме женщины, связанные с беременностью, родами и послеродовым периодом. Также акушерство посвящено лечению и профилактике патологий и осложнений при беременности.
            p Акушер-гинеколог - это врач, специализирующийся на ведении беременности и родов. Он отличается и от акушера, и от гинеколога: акушер - это не врач, а медицинский сотрудник, принимающий роды, а гинеколог специализируется не на беременности а родах, а на лечении заболеваний женской репродуктивной системы.
            .tabs role="tabpanel" 
              ul.nav.nav-tabs role="tablist" 
                li.active
                  a aria-controls="home" data-toggle="tab" href="#home" role="tab"  Справочник пациента
                li
                  a aria-controls="profile" data-toggle="tab" href="#profile" role="tab"  Справочник заболеваний
              .tab-content
                #home.tab-pane.active role="tabpanel" 
                  h2.darkBlueTitle
                    a href=""  Когда стоит посетить акушера-гинеколога?
                  p Деятельность акушера-гинеколога направлена на изучение полного спектра процессов, протекающих в теле женщины. Однако, основной его специализацией считается ведение беременности и родов. Помимо этого, в его компетенцию входят: поддержка репродуктивного здоровья женщины, предупреждение выкидышей и недоношенности, борьба с возможными осложнениями в течение беременности, родов, а так же послеродового периода. Это требует немалой квалификации, и на нашем сайте вы можете посмотреть отзывы о врачах, чтобы получить уверенность в наличии необходимых умений и навыках у выбранного специалиста. Записаться на прием к доктору так же просто, достаточно указать свое имя и номер телефона для обратной связи.
                  h2.darkBlueTitle
                    a href=""  Что лечит врач акушер-гинеколог?
                  p На приеме врач устраивает диагностику, с анализами на генетические заболевания и УЗИ включительно, и, конечно, проверяет жизнеспособность плода. Ознакомившись с отзывами о акушерах-гинекологах на нашем сайте, вы сможете выбрать надежного специалиста, которому стоит доверить это ответственное и непростое дело.
                #profile.tab-pane role="tabpanel" 
                  h2.darkBlueTitle
                    a href=""  Что лечит врач акушер-гинеколог?
                  p На приеме врач устраивает диагностику, с анализами на генетические заболевания и УЗИ включительно, и, конечно, проверяет жизнеспособность плода. Ознакомившись с отзывами о акушерах-гинекологах на нашем сайте, вы сможете выбрать надежного специалиста, которому стоит доверить это ответственное и непростое дело.
                  h2.darkBlueTitle
                    a href=""  Когда стоит посетить акушера-гинеколога?
                  p Деятельность акушера-гинеколога направлена на изучение полного спектра процессов, протекающих в теле женщины. Однако, основной его специализацией считается ведение беременности и родов. Помимо этого, в его компетенцию входят: поддержка репродуктивного здоровья женщины, предупреждение выкидышей и недоношенности, борьба с возможными осложнениями в течение беременности, родов, а так же послеродового периода. Это требует немалой квалификации, и на нашем сайте вы можете посмотреть отзывы о врачах, чтобы получить уверенность в наличии необходимых умений и навыках у выбранного специалиста. Записаться на прием к доктору так же просто, достаточно указать свое имя и номер телефона для обратной связи.
            h2.best_doc Лучшие врачи
            hr/
            .btn.btn-default.btn-block.show_more Показать еще врачей
    == Slim::Template.new("footer.slim").render